{
  "presets": [
      ["@babel/preset-env", {
          "target": {
              "browsers": ["> 1%", "last 2 versions"]
          }
      }]
  ],
  "plugins": ["@babel/plugin-transform-runtime"]
}
